{% extends "base.html" %}
{% block title %}Shopping Assistant{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>Hello, I am your shopping assistant :)</h1>

<image src="{{url_for('static', filename='images/shoppingcart.png')}}"></image>

<h2>If it's the first time you're using the shopping assistant, please press "signin" in order to continue:</h2>
<a href="{{ url_for('signin') }}">Signin</a>

<h2>Already registered as a user? please press "login" in order to continue:</h2>
<a href="{{ url_for('login') }}">Login</a>
{% endblock %}