{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>Login</h1>
<form action="#" method="post">
    <p>First Name:</p>
    <input type="text" name="first_name" placeholder="Enter Your First Name" required>
    <p>Last Name:</p>
    <input type="text" name="last_name" placeholder="Enter Your Last Name" required>
    <p>Phone Number:</p>
    <input type="tel" name="phone" placeholder="Enter Your Phone Number" required>
    <p>Email:</p>
    <input type="email" name="email" placeholder="Enter Your Email" required>
    <p>Password:</p>
    <input type="password" name="password" placeholder="Enter Your password" required>
    <input type="submit" name="submit"/>
</form>
{% endblock %}